@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

h2 {
    color: #1D1D1D;
}

h4,
h5 {
    color: #4A4A4A;
}

p {
    color: #777777;
}

.carousel-item img {
    filter: brightness(50%);
}

.bg-custom,
.btn-custom {
    background-color: #289BDE;
    color: #ffffff;
}

.text-custom {
    color: #289BDE;
}

.bg-explore {
    background-color: #F4FAFD;
}

.carousel-caption h1 {
    font-size: 3vh;

}

.carousel-caption p {
    font-size: 1vh;


}